# 1) Iris Flowers Classification ML Project :

>This particular ML project is usually referred to as the “Hello World” of Machine Learning. The iris flowers dataset
contains numeric attributes, and it is perfect for beginners to learn about supervised ML algorithms, 
mainly how to load and handle data.

In [1]:
# necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [2]:
df=pd.read_csv('IRIS.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.054000  0.433594  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758667  1.764420  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.198667  0.763161  0.1  0.3  1.30  1.8  2.5

In [5]:
#null values
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
#check outliers
X=df.drop(['species'],axis=1)
y=df[['species']]

In [7]:


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

lr=DecisionTreeClassifier()

lr.fit(X_train,y_train)

DecisionTreeClassifier()

In [8]:
lr.score(X_test,y_test)

0.9